body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  height: 100%;
  height: 200px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 33%;
  padding: 15px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.user {
  padding: 10px;
  font-size: 14px;
  color: #777;
}
